<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Agents>
    <AgentItem id="15" agent="电众" name="安利活动工具" authorize="false" token="false" sn="YwFcTVuXSQoPdu71UVk8EfNEPY2nzCgsOaib8FH6KNtJ6ozapeIV7kAJI0mUT6of" signature="true" url="aatool.amway.com.cn" begin="2016-10-20" end="2017-12-31" />
    <AgentItem id="17" agent="实野文化传媒有限公司" name="CNY新年心愿H5" authorize="true" token="false" sn="92GRUxLQ28bmDKOWVK1lCSdNN3P9iBVG5S90W6Y00hy2evkWYaTiXUmfOS4QGCxp" signature="true" url="nutrilite-newyear.amway.com.cn" begin="2017-01-19" end="2017-03-30" />
    <AgentItem id="37" agent="电众" name="安利A+画册2016" authorize="false" token="false" sn="JCHApHj3WjdGpXVSgF9HY8llIAzu0H2UKitpCBCNlgwHMz179SRAUcrBglRO8N2f" signature="true" url="myspace2.amway.com.cn" begin="2016-10-20" end="2017-12-31" />
    <AgentItem id="28" agent="电众" name="安利圣诞H5-嘴里的圣诞树2016" authorize="true" token="true" sn="Yg3roxhkLtddjcPhgYySwFGjHUnOzp3oskHr8Sles56gFNAaAHBhpBujyJJt9sKm" signature="true" url="christmas-record2016.amway.com.cn" begin="2016-11-15" end="2017-02-10" />
    <AgentItem id="41" agent="电众" name="安利新年贺卡2017" authorize="true" token="true" sn="4oRqiDoBaSspr9uaN3jSm8E1Ii9ltTLn9n0sG4krINQy0AkBzI3OOIrUJPGYu27g" signature="true" url="newyear2017.amway.com.cn" begin="2016-11-15" end="2017-03-10" />
    <AgentItem id="60" agent="腾讯" name="营养早餐(正式)" authorize="true" token="false" sn="Uhft7oAfNdt8cB4Q4CstYlIOH8OUuvfpnijT8lMcnH3Xo5KnTCQK0plyyqLXyFJi" signature="true" url="morningnutrition.act.qq.com" begin="2016-11-30" end="2017-03-31" />
    <AgentItem id="61" agent="腾讯" name="营养早餐(测试)" authorize="true" token="false" sn="iq1YdDusO2CwUj6nTC7ke2IMRKXmMDe5gPhnVbtaIn4VuGsYWYhgL2GfGe7sF7Eb" signature="true" url="morningnutrition.act.qq.com" begin="2016-11-30" end="2017-02-22" />
    <AgentItem id="72" agent="蓝标" name="安利创业报告预热H5互动" authorize="true" token="false" sn="iR4beRAeuxoKdjDccSre1LNvBBCSkivBi0g3l1ELgImhnCPrMIdJUcTv3yzBfHTb" signature="true" url="businessreport.amway.com.cn" begin="2016-12-09" end="2017-03-05" />
    <AgentItem id="75" agent="蓝标" name="安利嘴里的圣诞树互动" authorize="true" token="true" sn="2SngNuE2xNPI5vvRn4GT0V0jk2xodVUnyKSyYmsQqdn4l9p6KcK64OX5R3ULVfOA" signature="true" url="xmass.amway.com.cn" begin="2016-12-09" end="2017-02-10" />
    <AgentItem id="76" agent="蓝标" name="雅姿彩妆回归上市H5" authorize="false" token="false" sn="dAy7btQtNUIpxvm8RjupIc4SHNOpMVrQckVRSAzGA9PKjn4hiicCfQ21wEonErFR" signature="true" url="makeup.amway.com.cn" begin="2016-12-07" end="2017-03-30" />
    <AgentItem id="77" agent="蓝标" name="安利企业文化百日之旅" authorize="true" token="true" sn="YzfuCVAeyR6SGjeLXgxXGDjJou4Yj1gdyXTm4qpVUpF1Djgyv8xFe0Pkfv57QAUw" signature="true" url="cultureshow.amway.com.cn" begin="2016-03-04" end="2017-03-30" />
    <AgentItem id="10001" agent="TEST" name="TEST" authorize="true" token="true" sn="Jo1Hyz2lCSNRGNWKTh2uI7qN9TKVYRTCE4n85OaA8CPkjSMVXLmxdGsBWcyEO5mK" signature="true" url="gz.weixin.qwan.ren" begin="2016-03-04" end="2017-03-30" />
    <AgentItem id="78" agent="寅客网络" name="纽崔兰圣诞贺卡" authorize="false" token="false" sn="IrIJsY9RNXJhsN37kklPS1aBkfxmmySSmlJOG5pGHJfQSD7p4X2VDoQGh6odqLvf" signature="true" url="nutrilite-xmas.amway.com.cn" begin="2016-12-17" end="2017-03-30" />
    <AgentItem id="574" agent="电众" name="2017安利纽崔莱BEST项目" authorize="true" token="true" sn="N31lRDBSu6hFzo4HuWp20LgpOgxLc0FlmxnBl6ySGpaHWOLdm6R5h6P6vyvi1Onc" signature="true" url="bestcampaign2017.oneoone101.com" begin="2017-06-16" end="2020-06-16" />
    <AgentItem id="577" agent="DEST" name="安利纽崔莱VR视频H5" authorize="true" token="true" sn="qRbNgYq3NBP63FK6HpyI631l7sXjL0lXb11h41TbEassOnR32Sh6iOv5LOoM679F" signature="true" url="nutrilite-globalvr.amway.com.cn" begin="2017-06-27" end="2017-11-27" />
    <AgentItem id="191" agent="电众" name="Xs数字互动" authorize="true" token="true" sn="w6fF339bDJ06vKSb7qG487t33eh4s64yDnDngpG619jJD4h0TjV98Bj7fbCErVHe" signature="true" url="2017xsrunning.amway.com.cn" begin="2017-07-17" end="2019-07-17" />
  </Agents>
</configuration>